<!-- /***
 *    ██████╗  █████╗ ██████╗      █████╗ ██████╗ ██████╗ ██████╗  ██████╗  █████╗  ██████╗██╗  ██╗
 *    ██╔══██╗██╔══██╗██╔══██╗    ██╔══██╗██╔══██╗██╔══██╗██╔══██╗██╔═══██╗██╔══██╗██╔════╝██║  ██║
 *    ██████╔╝███████║██║  ██║    ███████║██████╔╝██████╔╝██████╔╝██║   ██║███████║██║     ███████║
 *    ██╔══██╗██╔══██║██║  ██║    ██╔══██║██╔═══╝ ██╔═══╝ ██╔══██╗██║   ██║██╔══██║██║     ██╔══██║
 *    ██████╔╝██║  ██║██████╔╝    ██║  ██║██║     ██║     ██║  ██║╚██████╔╝██║  ██║╚██████╗██║  ██║
 *    ╚═════╝ ╚═╝  ╚═╝╚═════╝     ╚═╝  ╚═╝╚═╝     ╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═╝ ╚═════╝╚═╝  ╚═╝
 *
 *     ██████╗ ██████╗ ███╗   ███╗██████╗  ██████╗ ███╗   ██╗███████╗███╗   ██╗████████╗
 *    ██╔════╝██╔═══██╗████╗ ████║██╔══██╗██╔═══██╗████╗  ██║██╔════╝████╗  ██║╚══██╔══╝
 *    ██║     ██║   ██║██╔████╔██║██████╔╝██║   ██║██╔██╗ ██║█████╗  ██╔██╗ ██║   ██║
 *    ██║     ██║   ██║██║╚██╔╝██║██╔═══╝ ██║   ██║██║╚██╗██║██╔══╝  ██║╚██╗██║   ██║
 *    ╚██████╗╚██████╔╝██║ ╚═╝ ██║██║     ╚██████╔╝██║ ╚████║███████╗██║ ╚████║   ██║
 *     ╚═════╝ ╚═════╝ ╚═╝     ╚═╝╚═╝      ╚═════╝ ╚═╝  ╚═══╝╚══════╝╚═╝  ╚═══╝   ╚═╝
 *
 *    ████████╗███████╗███╗   ███╗██████╗ ██╗      █████╗ ████████╗███████╗
 *    ╚══██╔══╝██╔════╝████╗ ████║██╔══██╗██║     ██╔══██╗╚══██╔══╝██╔════╝
 *       ██║   █████╗  ██╔████╔██║██████╔╝██║     ███████║   ██║   █████╗
 *       ██║   ██╔══╝  ██║╚██╔╝██║██╔═══╝ ██║     ██╔══██║   ██║   ██╔══╝
 *       ██║   ███████╗██║ ╚═╝ ██║██║     ███████╗██║  ██║   ██║   ███████╗
 *       ╚═╝   ╚══════╝╚═╝     ╚═╝╚═╝     ╚══════╝╚═╝  ╚═╝   ╚═╝   ╚══════╝
 *
 */ -->
<div>
  {{
    (user$ | async) ? 'Data were read correctly...' : 'There has been an error...'
  }}
</div>

<ng-container *ngIf="user$ | async; else noUserData" >
  <div class="container">
    <div class="row">
      <div class="p-1 col-3 text-white bg-info text-right">
        <strong>username</strong>
      </div>
      <div class="p-1 col text-success border border-primary border-bottom-0">
        {{ (user$ | async)?.username }}
      </div>
    </div>
    <div class="row">
      <div class="p-1 col-3 text-white bg-info text-right">
        <strong>email</strong>
      </div>
      <div class="p-1 col text-success border border-primary border-bottom-0">
        {{ (user$ | async)?.email }}
      </div>
    </div>
    <div class="row">
      <div class="p-1 col-3 text-white bg-info text-right">
        <strong>gender</strong>
      </div>
      <div class="p-1 col text-success border border-primary border-bottom-0">
        {{ (user$ | async)?.gender }}
      </div>
    </div>
    <div class="row">
      <div class="p-1 col-3 text-white bg-info text-right">
        <strong>password</strong>
      </div>
      <div class="p-1 col text-success border border-primary">
        {{ (user$ | async)?.password }}
      </div>
    </div>
  </div>
</ng-container>

<ng-template #noUserData>
  <div class="alert alert-danger">
    Could not read data 😢
  </div>
</ng-template>
